<!-- start of form controller -->
<div id="add_contact" ng-controller ="contactController">
  <h1 class="text-center text-capitalize">Add a New Contact</h1>
  <form>
    <div class= "form-group">
      <label for="inputPassword1">{{ formHeaders.name }}</label>
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="inputfirst" ng-model="contact.first_name" placeholder="First">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputlast" ng-model="contact.last_name" placeholder="Last">
        </div>
      </div>
    </div>
    <div class="form-group email-ad">
      <label for="inputEmail1">{{ formHeaders.email }}</label>
      <input type="email" class="form-control" id="inputEmail1" ng-model="contact.email" placeholder="Email">
    </div>
    <div class="form-group contact-num">
      <label for="inputPassword1">{{ formHeaders.contact }}</label>
      <input type="tel" class="form-control" id="inputPassword1" ng-model="contact.phone" placeholder="00-000-0000">
    </div>
    <div class="form-group">
      <label for="inputFile">{{ formHeaders.profilepic }}</label>
      <input type="file" id="inputFile" ng-model="contact.img_url">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
      <button type="submit" class="btn btn-default" ng-click="addContact()">{{ formHeaders.submit }}</button>
  </form>
</div>
